body
{
    font-family: "Franklin Gothic Medium";
    font-size: 150%;

}
/*Скрываем placeholder*/
:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

.wrapper
{
    width: 100%;

}
/*===========================START HEADER============================*/
.header
{
    width: 100%;
    display: flex;
    justify-content: space-around;
    border: 1px solid black;
    padding-top: 1%;
    padding-bottom: 1%;
    background: linear-gradient(to bottom, rgba(243,226,199,1) 0%,rgba(193,158,103,1) 50%,rgba(182,141,76,1) 51%,rgba(233,212,179,1) 100%);
}
#profitDiv
{

    /*border: 1px solid black;*/
    text-align: center;

    color: green;

}
#balanceDiv
{

    /*border: 1px solid black;*/
    text-align: center;

    color:brown;
}
#expenseDiv
{

    /*border: 1px solid black;*/
    text-align: center;
    color: blue;
}

/*=======================================FINISH HEADER==========================================*/
/*=======================================START CONTENT==========================================*/
.content
{
    border: 1px solid black;
    width: 100%;
    display: flex;
   /* height: 800px;*/

}

.left-content
{
    border: 2px solid black;
    width: 50%;
    background: linear-gradient(to bottom, rgba(183,222,237,1) 0%,rgba(113,206,239,1) 50%,rgba(33,180,226,1) 51%,rgba(183,222,237,1) 100%);
    text-align: center;
}
#profitDateField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: #a0f593;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px firebrick;
}

#profitMoneyField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: #a0f593;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px firebrick;
}
#profitSourceField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: #a0f593;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px firebrick;
}
/*класс*/
.max-width
{
    width: 80%;

}

#profitAddButton {

    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #002fff), color-stop(1, #e8f00e));
    background:-moz-linear-gradient(top, #002fff 5%, #e8f00e 100%);
    background:-webkit-linear-gradient(top, #002fff 5%, #e8f00e 100%);
    background:-o-linear-gradient(top, #002fff 5%, #e8f00e 100%);
    background:-ms-linear-gradient(top, #002fff 5%, #e8f00e 100%);
    background:linear-gradient(to bottom, #002fff 5%, #e8f00e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#002fff', endColorstr='#e8f00e',GradientType=0);
    background-color:#002fff;
    -moz-border-radius:21px;
    -webkit-border-radius:21px;
    border-radius:21px;
    border:4px solid #030303;
    display:inline-block;
    cursor:pointer;
    color:#000000;
    font-family:Trebuchet MS;
    font-size:38px;
    font-weight:bold;
    padding:20px 76px;
    text-decoration:none;
}
#profitAddButton:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e8f00e), color-stop(1, #002fff));
    background:-moz-linear-gradient(top, #e8f00e 5%, #002fff 100%);
    background:-webkit-linear-gradient(top, #e8f00e 5%, #002fff 100%);
    background:-o-linear-gradient(top, #e8f00e 5%, #002fff 100%);
    background:-ms-linear-gradient(top, #e8f00e 5%, #002fff 100%);
    background:linear-gradient(to bottom, #e8f00e 5%, #002fff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e8f00e', endColorstr='#002fff',GradientType=0);
    background-color:#e8f00e;
}
#profitAddButton:active {
    position:relative;
    top:1px;
}

#profitUpdateButton {


    display: inline-block;
    cursor: pointer;
    color: #c2f508;
    font-family: Georgia;
    font-size: 39px;
    border-radius: 50px;
    background: linear-gradient(207deg, #f50313 36%, #0905f0 100%);
    text-shadow: 0px 1px 0px #528ecc;
    box-shadow: inset 1px 0px 0px 0px #29e60c;
}

.right-content
{
    border: 3px solid black;
    width: 50%;
    text-align: center;
    background-color: orchid;
}

#expenseDateField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: darkgrey;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px aqua;

}

#expenseMoneyField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: darkgrey;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px aqua;
}

#expenseSourceField
{
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-width: 3px;
    border-style: solid;
    background-color: darkgrey;
    border-color: #662266;
    font-weight:bold;
    font-style: normal;
    font-family: Tahoma;
    box-shadow: 0px 0px 27px aqua;

}

#expenseAddButton {
    background: #12b883;
    background-image: -webkit-linear-gradient(top, #12b883, #b82ba0);
    background-image: -moz-linear-gradient(top, #12b883, #b82ba0);
    background-image: -ms-linear-gradient(top, #12b883, #b82ba0);
    background-image: -o-linear-gradient(top, #12b883, #b82ba0);
    background-image: linear-gradient(to bottom, #12b883, #b82ba0);
    -webkit-border-radius: 60;
    -moz-border-radius: 60;
    border-radius: 60px;
    -webkit-box-shadow: 4px 9px 7px #000000;
    -moz-box-shadow: 4px 9px 7px #000000;
    box-shadow: 4px 9px 7px #000000;
    font-family: Arial;
    color: #f5f50c;
    font-size: 40px;
    padding: 20px 40px 20px 40px;
    border: solid #eb1d12 3px;
    text-decoration: none;
    cursor: pointer;
}

#expenseAddButton:hover {
    background: #49fc3c;
    background-image: -webkit-linear-gradient(top, #49fc3c, #d9345a);
    background-image: -moz-linear-gradient(top, #49fc3c, #d9345a);
    background-image: -ms-linear-gradient(top, #49fc3c, #d9345a);
    background-image: -o-linear-gradient(top, #49fc3c, #d9345a);
    background-image: linear-gradient(to bottom, #49fc3c, #d9345a);
    text-decoration: none;
}
#expenseAddButton:active {
    position:relative;
    top:1px;
}

#expenseUpdateButton {


    display: inline-block;
    cursor: pointer;
    color: #eb1d12;
    font-family: Georgia;
    font-size: 39px;
    border-radius: 50px;
    background: linear-gradient(207deg, #c2f508 36%, blueviolet 100%);
    text-shadow: 0px 1px 0px #528ecc;
    box-shadow: inset 1px 0px 0px 0px #29e60c;
}




/*=======================================START CARD PROFIT=============================================*/

#profitCardsDiv
{

    display: flex;
    justify-content: center;
    background-color: #b82ba0;
    flex-direction: column;
    align-items: center;

}
.profitCard
{
    border: 3px solid black ;
    width: 80%;
    margin-bottom:20px;

}
.profitCardItem
{
    width: 80%;
    font-size: 120%;
    border: 2px solid black ;
    background-color: #12b883;
    color: black;

}
.profitCardButton {

    background: #b6d7ed;
    background-image: -webkit-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -moz-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -ms-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -o-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: linear-gradient(to bottom, #b6d7ed, #2980b9);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: #9c2b2b;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}
.profitCardButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}


/*======================================= FINISH CARD PROFIT=============================================*/

/*=======================================START CARD EXPENSE=============================================*/

#expenseCardsDiv
{

    display: flex;
    justify-content: center;
    background-color: firebrick;
    flex-direction: column;
    align-items: center;

}
.expenseCard
{
    border: 3px solid black ;
    width: 80%;
    margin-bottom:20px;

}
.expenseCardItem
{
    width: 80%;
    font-size: 120%;
    border: 2px solid black ;
    background-color: #12b883;
    color: black;

}
.expenseCardButton {

    background: #b6d7ed;
    background-image: -webkit-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -moz-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -ms-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: -o-linear-gradient(top, #b6d7ed, #2980b9);
    background-image: linear-gradient(to bottom, #b6d7ed, #2980b9);
    -webkit-border-radius: 25;
    -moz-border-radius: 25;
    border-radius: 25px;
    font-family: Georgia;
    color: #9c2b2b;
    font-size: 30px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;

}
.expenseCardButton:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}






/*======================================= FINISH CARD EXPENSE=============================================*/



/*=======================================FINISH CONTENT==========================================*/

